@import "./color-variables.scss";
.installation-date-picker {
  .CalendarDay__selected,
  .CalendarDay__selected:active,
  .CalendarDay__selected:hover {
    background: $primary-color;
    border: 1px double $primary-color;
    color: #fff;
  }

  .DayPickerKeyboardShortcuts_show__bottomRight {
    visibility: hidden;
  }

  .DateInput_input {
    line-height: inherit;
    color: inherit;
    width: 100%;
    padding: 0;
    font-size: inherit;
    background-color: #edf2f7;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #e2e8f0;
  }
  .DateInput {
    width: 100%;
  }
  .SingleDatePickerInput__withBorder {
    border-radius: 0.25rem;
    border: 1px solid #e2e8f0;
  }

  .DateInput_input__focused {
    border-bottom: 2px solid $primary-color;
    background-color: #fff;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    outline: 0;
    border-color: #e2e8f0;
  }
}
