@import "../variables";

.login {
  height: 100vh;
  width: 100vw;
  background: #f7f8f6;
  &-title {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  &-card {
    border: 1px solid $gray-100;
    background: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3),
      0 4px 8px 3px rgba(60, 64, 67, 0.15);
  }
}
